# Google Gemini API Key
GOOGLE_API_KEY=your_google_gemini_api_key_here
EMBEDDING_MODEL=text-embedding-004

# Open Router API Key
OPENAI_API_KEY=your_open_router_api_key_here
OPENAI_API_BASE=https://openrouter.ai/api/v1 # Para accessar modelos via OpenRouter
OPENAI_MODEL=text-embedding-3-small

PGVECTOR_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag
PGVECTOR_COLLECTION=gpt5_collection